/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
div {
    background-color: greenyellow;
    color: red;
}
/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
    color: green;
}
/* ------------------------------- 3. Layout --------------------------------------- */
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */